<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">




<!--    Following bean creates obj of Dev class in IoC (Inversion of Control)   -->
    <bean id="dev" class="com.javed.Dev" autowire="byName">

        <property name="com" ref="desk1"/> <!-- Note 1.1 -->
    </bean>

    <!--    Following bean creates obj of Dev class in IoC (Inversion of Control)   -->
    <bean id="com" class="com.javed.Laptop">
    </bean>
    <bean id="desk1" class="com.javed.Desktop" primary="true">
    </bean>

</beans>